@model MVCGamersApp.Models.GamerPlays

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GamerPlays</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gamer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gamer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursPlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursPlayed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
